/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
@media(max-width: 30em)
*/


/*
@media(min-width: 50em)
*/


/* CODECODECODECODECODECODECODECODECODE */

body {
    font-family: 'nexa-bold', sans-serif;
}

section {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #ffffff;
    width: 90%;
    border-radius: 0.3em;
    margin: auto;
    padding-bottom: 1em;
}

a {
    color: #2800A0;
    text-decoration: none;
}

a:hover {
    color: #FF3268;
}

p {
    font-family: 'nexa-light', 'sans-serif';
}

h3 {
    padding: 1rem 5%;
    font-size: 1.4rem;
    color: #00D66C;
}


/*
=====================================================
HEADER
=====================================================
*/

header {
    width: 100%;
    position: fixed;
}

header img {
    display: block;
    float: left;
    height: 2rem;
}

header section {
    display: block;
    border-radius: 0em;
    top: 0;
    left: 0;
    height: 2rem;
    width: 100%;
    background-color: #ffffff;
    clear: both;
}

header nav {
    display: none;
    /*
    top: 2em;
    padding: 2%;
    display: block;
    width: 100%;
    background-color: none;
    */
}

header a {
    float: left;
    padding: .5rem;
}

header a+a {
    float: right;
}

header p {
    display: inline;
    float: left;
}

h1 {
    color: #00D66C;
    font-size: 2em;
    /*    border-radius: 0.3em 0.3em 0em 0em; */
}


/* 
=====================================================
MAIN
=====================================================
*/

main {
    padding-top: 3em;
    background-color: #F3E5D8;
}


/* 
=====================================================
ASIDE
=====================================================
*/

aside {
    width: 100%;
    padding: 18rem 0rem 1rem 0rem;
    margin-bottom: 1rem;
    background-image: url(images/sheen-by-surian-soosay-smallscreen2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

aside h2 {
    display: block;
    width: 90%;
    margin: auto;
    padding: 1rem 0rem 0.5rem 0.5rem;
    background-color: #00D66C;
    background-color: hsla(150, 100%, 42%, .9);
    border-radius: 0.3em;
    font-size: 2rem;
    text-transform: lowercase;
    color: #ffffff;
    left: 0;
}

aside section {
    font-family: 'nexa-bold';
    left: 0%;
    width: 90%;
    height: 1rem;
    background-color: #2800A0;
    color: #ffffff;
    margin-top: 1rem;
    padding: 1rem 0rem 1rem 0.5rem;
    border-radius: 0.3em;
    left: 0;
}

aside section:hover {
    background-color: #5e40b8;
    transition: 0.5s;
}

aside p {
    float: left;
    font-family: 'nexa-bold', 'sans-serif';
}

aside p+p {
    float: right;
    padding-right: 5%;
}

form img {
    position: absolute;
    width: 2rem;
    top: 4rem;
    left: 5%;
}

form img + img {
    top: 6rem;
}

form img+img+img {
    height: 2rem;
    top: 8rem;
}


/*
==================================================
ARTICLE
==================================================
*/


/* button {
    display: block;
    width: 10%;
    color: #00D66C;
    box-shadow: inset 0.1em -1em 3em -1em hsla(0, 100%, 0%, 0.9);
}
*/

p {
    padding-right: 1%;
    padding-left: 1%;
    line-height: 1.2em;
    border-radius: .5em;
}

section nav {
    margin: auto;
    display: flex;
    width: 96%;
    background-color: #ffffff;
}

ul {
    width: 100%;
    float: left;
    font-size: 0.8rem;
}

li a {
    display: block;
    float: left;
    width: 84%;
    margin: 3%;
    height: 10%;
    /*padding-left: 10%;*/
    padding: 60% 0% 10% 10%;
    background-color: #00D66C;
    border-radius: 0.3em;
    color: #ffffff;
}

h4 {
    font-size: 0.5rem;
}

.blue li a {
    background-color: #2800A0;
}


/*
section p {
    display: inline-block;
    width: 30%;
    float: left;
}*/

i {
    font-style: italic;
}


/*
@keyframes fontsize {
    0% {
        bottom: 200%;
    }
}*/

nav a:hover {
    background-color: #FF3268;
    color: #ffffff;
    text-shadow: .1em .1em 0.2em hsla(0, 0%, 50%, 0.8);
    transition: color 0.5s, background-color 0.5s;
}